@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');

.swiper-component {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;

    max-width: 411px;

    .wrapper {
        box-sizing: border-box;
        width: 409px;
        height: 641px;
    }

    button {
        background: transparent;
        border: 0;
        font-size: 16px;
        line-height: 20px;
        color: #5c5243;

        &:hover {
            cursor: pointer;
        }
    }

    span {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #5c5243;

        .four {
            color: #a29c94;
        }
    }
}
