@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

.myButton-initial {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #fff;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    width: 184px;
    height: 46px;

    background: #474541;

    transition: all 0.4s;

    &:hover {
        opacity: 50%;
        cursor: pointer;
    }
}

.myButton-primary {
    box-sizing: border-box;

    border: 1px solid #000000;
    max-width: 383px;
    color: #474541;
    background: white;

    &:hover {
        background: #474541;
        color: #fff;
        cursor: pointer;
    }
}

.myButton-secondary {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    text-underline-offset: 2px;
    color: #676262;
    background: transparent;
    width: 92px;

    &:hover {
        background: #474541;
        color: #fff;
        cursor: pointer;
    }
}
