@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

.group-component {
    width: 1204px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 4px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}
